*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Coming Soon', cursive;
	color: #fff;
}
body{
	width: 100%;
	height: 1000px;
}
header{
	height: 750px;
	width: 100%;
	background-color: #005c99;
	padding: 0px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
header > h1{
	text-align: center;	
}
@media only screen and (max-width: 720px) {
  body {
    background-color: #339966;
  }
  iframe{
	width: 100%;
  }
}
#navbar{
	position: fixed;
	width: 100%;
	overflow: hidden;
	top: 0;
	height: 20px;
}
ul{
	list-style-type: none;
	float: right;
	display: flex;
}
li a{
	text-decoration: none;
	color: #fff;
	font-family: 'Pangolin', cursive;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;

}

li:nth-last-child(-n+4){
	margin-right: 10px;

}
#title{
	position: fixed;
  	left: 0;
}

#projects{
	height: 750px;
	width: 100%;
	background-color: #00664d;
	text-align: center;
	display: block;
	margin: auto;
}
h2{
	padding-top: 10px;
}
img{
	height: 300px;
	width: 475px;
	padding: 20px;
}

#center{
	display: inline-block;
	text-align: center;
}